# Dependencies
node_modules/

# Environment variables


# Logs
*.log
logs/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build outputs
dist/
build/

# Uploads
backend/public/uploads/*
!backend/public/uploads/.gitkeep